body {
    font-family: Century Gothic, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 253, 253);
}

header {
    background-color: #b169a1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #b62291;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

footer {
    background-color: #8d63e2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
}

#introdução {
    text-align: justify;
}

#mulheres {
    text-align: justify;
}

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#imagem {
    max-width: 500px;
    height: auto;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}